# 1. Biological Data (Required: GitHub has a 100MB limit)
data/
*.csv
*.pkl
*.npy
# Allow production models 
!production_models/
!production_models/*.pkl
# 2. Python Internals (Required: Prevents merge conflicts)
__pycache__/
.pytest_cache/

# 3. Notebook Backups (Required: Keeps your 'git status' clean)
.ipynb_checkpoints/

# 4. Local OS Junk
.DS_Store

# No notebooks for now
*.ipynb

# Ignore the hidden checkpoints folder created by Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.ipynb
.ipynb_checkpoints/
